<section class="app-header">
  <div class="header container margin flex space-between align-center">
    <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/368/7693601368_4c33313f-8cd4-4cbe-8e26-034beaeadcae.png?cb=1660560699" alt="">
    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/contact" routerLinkActive="active">Contacts</a>
      <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
    </nav>
  </div>
</section>
