.contact-app {
  @mixin btn {
    text-align: center;
    background-color: rgb(26, 48, 109);
    border: 0;
    border-radius: 8px;
    padding: 5.5px 12px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: rgb(74, 84, 112);
      color: rgb(93, 170, 184);
    }
  }
  .filter-tab{
    margin-block-end: 1rem;
    .filter{
      flex-grow: 1
    }
    a {
      @include btn;
      margin-inline-start: 0.5rem;
    }
  }
}
