.contact-list{
    .title{
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: 500;
        padding-block-end: 0.5rem;
        border-bottom: 1px solid #c0c0c0;
    }
}